.wallet-connec-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.box {
  width: 200px;
  height: 50px;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );

  border: solid 5px transparent;
  border-radius: 10px;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    #f03 99%,
    transparent
  );

  background:
    var(--main-bg) padding-box,
    var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center center;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  animation-play-state: paused;
}

.connect-button,
.disconnect-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.disconnect-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.address {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connect-button:hover,
.disconnect-button:hover {
  color: #03e9f4;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
